@using DistantLearningSystem.Models
@model UserModel
@{
    ViewBag.Title = Model.Name + " " + Model.LastName;
}
<section>
    <div class="user-avatar">
        <a class="magnifier" href="@HtmlManager.DefineImagePath(Model.ImgSrc)">
            <div class="" style="margin-top:10px">
                @HtmlManager.Image(Model.ImgSrc + "?w=150", ViewBag.Title)
            </div>
        </a>
    </div>
    <br />
    <p style="font-size: large"><span>ФИО: </span>: <span>@String.Format(Model.LastName + Model.Name)</span></p>
    <p style="font-size: large"><span>Группа: </span>: <span>@Model.</span></p>
    @Html.ActionLink(Model.Email, "", "#", null, new { @class = "btn btn-blue" })
</section>
