@model DistantLearningSystem.Models.DataModels.Concept
@{
    ViewBag.Title = "Delete Country";
    Layout = "~/Views/Shared/Dashboard_Layout.cshtml";
}

@if (Model == null)
{
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header fleft">Понятие не найдено</h1>
        </div>
    </div>
    return;
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header fleft">Удалить понятие</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p>Вы уверены, что хотите удалить понятие @Model.Name ? Будут удалены все определения, относящиеся к этому понятию.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        @HtmlManager.ProccessResultContainer(ViewBag.Result)
        @using (Html.BeginForm("ManageConceptDeleting", "Dashboard", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(id => Model.Id)
            <div class="form-group">
                @HtmlManager.SubmitButton()
                @HtmlManager.AddButton(Html.ActionLink("Назад", "Concept", "Search", new { id = Model.Id }, null))
            </div>
        }
    </div>
</div>