@using DistantLearningSystem.Models.LogicModels.Managers
@model DistantLearningSystem.Models.DataModels.Definition
@{
    ViewBag.Title = "Редактировать определени";
    Layout = "~/Views/Shared/Dashboard_Layout.cshtml";
    var user = DataManager.DefineUser(Context);
    if (user == null || Model == null)
    {
        <p>Ошибка</p>
        return;
    }
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header fleft">Редактировать понятие</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        @HtmlManager.ProccessResultContainer(ViewBag.Result)
        @using (Html.BeginForm("ManageDefinitionEditing", "Dashboard", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true)

                <div class="form-group">
                    <label class="control-label col-md-2" for="Name">Имя</label>
                    <div class="col-md-2">
                        <input class="form-control" id="text" value="@Model.Text" name="text" type="text" placeholder="Имя" required="required">
                    </div>
                </div>
                @Html.HiddenFor(id => Model.Id)
                <div class="form-group">
                    <div class="col-md-10">
                        @HtmlManager.SubmitButton()
                        @HtmlManager.AddButton(Html.ActionLink("Назад", 
                        "Concept", 
                        "Search", 
                        new {id = Model.ConceptId }, null))
                    </div>
                </div>
            </div>
        }
    </div>
</div>